.filters {
    display: flex;
    background-color:white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

.filters div:first-child {
    border-right: 1px #DDDDDD solid;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
}

.locations h3 {
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 15%;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 15%;
    margin-top: 0px;
}
.amenities {
    height: 100%;
    width: 25%;
}

.amenities h3 {
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 15%;
}

.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 15%;
    margin-top: 0px;
}
